:root {
    --green:rgb(28, 177, 113);
    --border-radius: 5px;
  }

body {
    height:100vh;
    padding:20px;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    font-size: 3em;
    line-height: 1.05em;
    padding:30px 0;
    margin:0;
}

p a {
    color: rgb(0, 68, 255);
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

nav{
    width:100%;
}

#info-popup{
    display:none;
    position:absolute;
    background:rgba(28, 177, 113, 0.75);
    backdrop-filter: blur(10px);
    margin: auto;
    border-radius: var(--border-radius);
    padding:5px 20px;
    border:1px solid black;
    width:calc(100vw - 95px);
}

button {
    background: black;
    color:white;
    border-radius: var(--border-radius);
    border: 1px solid black;
    padding: 0px 20px;
    width: fit-content;
    height: 50px;
    min-width:50px;
    font-size:1em;
    cursor:pointer;
    margin:0 3px 7px 0;
}

button:hover,
button:active{
    background: #525252;
    box-shadow: 0 0 30px 5px var(--green);
}

button p{
    vertical-align: middle;
}

.secondary-button{
    background:#D0D0D0;
    color:black;
}

.secondary-button:hover,
.secondary-button:active { 
    background: #b9b9b9;
}

input {
    background:black;
    color:white;
    border:0px;
    border-radius: var(--border-radius);
    width: 250px;
    height:50px;
    padding: 0 0 0 20px;
    font-size:1em;
}

.input-container {
    margin-top: 15px;
    display: flex;
    gap: 7px;
}

.item-placeholder {
    color:var(--green);
}

/* TABLE STYLING */

#resultsSection{
    margin: 50px 0 0 -7px;
    font-size:0.75em;
    font-family: 'Arial', sans-serif;
    padding-bottom:50px;
    width:calc(100% + 14px);
}

/* Table styles */
#resultsTable {
    border-collapse: separate;
    border-spacing: 7px;
    text-align:center;
}

th {
    border-radius:var(--border-radius);
    background:black;
    color:white;
    font-weight:normal;
    /* width: fit-content; */
    height:30px;
    /* min-width:40vw; */
}

#resultsTable th:nth-child(3) {
    background-color: transparent;
    border: none;
}

#resultsTable td:nth-child(3) {
    border: none;
    /* width:fit-content; */
}

.empty-cell, 
.no-cell, 
.yes-cell{
    border:1px solid black;
    border-radius:var(--border-radius);
    padding:5px;
    height:20px;
    width:50%;
    max-width:100px;
}

#yesTotal, #noTotal {
    border:1px solid black;
    border-radius:var(--border-radius);
    font-weight:normal;
    height:30px;
}

#yesTotal {
    background-color: rgb(132, 159, 232);
}

#noTotal {
    background-color: rgb(247, 148, 73);
}

@media (min-width: 30em) and (orientation: landscape) {
    body{
        padding:50px!important;
        overflow:hidden;
    }

    nav {
        position:fixed;
        bottom:50px;
    }

    section {
        width:65vw;
        display:inline-block;
    }

    #resultsSection {
        display:inline-block;
        position:absolute;
        top:0;        
        right:0;
        width:fit-content;
        padding-right:50px;
        max-width:30vw;
    }

    h1{
        font-size:5em;
        line-height:1em;
        padding-top:0px;
        margin:0;
    }

    .empty-cell, 
    .no-cell, 
    .yes-cell{
        width:100px;
    }

    button {
        padding: 0px 15px;
        width: fit-content;
        height: 30px;
        min-width:30px;
    }

    input {
        width: 250px;
        height:30px;
        padding: 0 0 0 15px;
    }

    #info-popup{
        bottom:45px;
        width: 50vw;
        padding:0 15px;
        box-shadow: 0 0 60px 7px var(--green);
    }
}
