:root {
    --green:#1cb171;
    --border-radius: 5px;
  }

body {
    width:calc(100vw - 30px);
    height:100vh;
    margin:0;
    padding:15px;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 200;
    font-size: 3em;
    line-height: 1.05em;
}

button {
    background: black;
    color:white;
    border-radius: var(--border-radius);
    border: 0px;
    padding: 0px 20px;
    width: fit-content;
    height: 50px;
    min-width:50px;
    font-size:1em;
    cursor:pointer;
    margin:0 3px 7px 0;
}

button:hover,
button:active{
    background: #525252;
}

button p{
    vertical-align: middle;
}

.secondary-button{
    background:#D0D0D0;
    color:white;
}

.secondary-button:hover,
.secondary-button:active { 
    background: #b9b9b9;
}

input {
    background:black;
    color:white;
    border:0px;
    border-radius: var(--border-radius);
    width: 250px;
    height:50px;
    padding: 0 0 0 20px;
    font-size:1em;
}

.input-container {
    margin-top: 15px;
    display: flex;
    gap: 7px;
}

.item-placeholder {
    color:var(--green);
}

/* TABLE STYLING */

#resultsSection{
    margin: 50px 0 0 -7px;
    font-size:0.75em;
    font-family: 'Arial', sans-serif;
    padding-bottom:50px;
}

/* Table styles */
#resultsTable {
    border-collapse: separate;
    border-spacing: 7px;
    text-align:center;
}

th {
    border-radius:var(--border-radius);
    background:black;
    color:white;
    font-weight:normal;
    width: fit-content;
    height:30px;
    min-width:40vw;
}

#resultsTable th:nth-child(3) {
    background-color: transparent;
    border: none;
    min-width:0;
}

#resultsTable td:nth-child(3) {
    border: none;
    width:fit-content;
}

.empty-cell, 
.no-cell, 
.yes-cell{
    border:1px solid black;
    border-radius:var(--border-radius);
    padding:5px;
    height:20px;
    width:100px;
}

#yesTotal, #noTotal {
    border:1px solid black;
    border-radius:var(--border-radius);
    font-weight:normal;
    height:30px;
}


#yesTotal {
    background-color: rgb(132, 159, 232);
}

#noTotal {
    background-color: rgb(247, 148, 73);
}
